body{
    background-color: rgb(74, 168, 255);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(74, 168, 255);
    font-size: .75em;
}
h2{
    color: rgb(134, 134, 134);
}
h3{
    color:rgb(49, 113, 173);
    padding: .5em;
}
.pricing-table{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: aliceblue ;
    border-radius: 10px;
    margin: 10%;
    box-shadow: 1px 1px 20px black;
    padding: 1em;
    text-transform: uppercase;
}
.pricing-plan{
    text-align: center;
    /* height: 75vh; */
    /* width: 50; */
}
img{
    width: 50%;
    height: 50%;
}
.border-right{
    border-right: 1px rgb(209, 209, 209) solid;
    margin: 10px 0px;
}
hr{
    margin: 20px;
    color: rgb(209, 209, 209);
}
.pricing-price{
    /* align-items: center; */
    display: flex;
    justify-content: center;
    margin:1em;
    font-weight:900;
    font-size: 1.5em;
    color: blue;
    
}
.pricing-button{
    border: 1px rgb(74, 168, 255) solid;
    padding: .75em;
    color: rgb(74, 168, 255);
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
}
.pricing-button:hover{
    background-color: rgb(74, 168, 255);
    color: azure;
    scale: 1.5;
    transition: .5s;
}
.is-featured{
    background-color: rgb(74, 168, 255);
    color: white;
}
.is-featured:hover{
    background-color: azure;
    color: rgb(74, 168, 255);
    scale: 1.5;
    transition: .5s;
}
@media (max-width: 600px) {
    .pricing-table {
      flex-wrap: wrap;
    }
    .border-right{
        border-right: none;
    }
    .pricing-plan{
        border: 1px rgb(74, 168, 255)solid;
        border-radius: 20px;
        padding: 1.5em;
        margin:1em;
    }
  }